<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to {{ user }}'s
    <a href="/index">MicroBlog</a>
</h1>
<hr>
<div>MicroBlog
    <a href="{{ url_for('index') }}">Home</a>
    {% if g.user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

</div>

{# The technique to display the flashed message is hopefully self-explanatory.
One interesting property of flash messages is that once they are requested through
the get_flashed_messages function they are removed from the message list,
so these messages appear in the first page requested by the user after the flash function is called,
and then they disappear.#}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}

        </ul>
    {% endif %}

{% endwith %}
{% block content %}
    <h1>Wo bei qudai</h1>
{% endblock %}
</body>
</html>